#
# Copy this file to `.env` and fill in the correct values for your environment.
# All values are strings; wrap secrets in quotes if they contain special chars.
#

# --- Database (PostgreSQL) ---
PGUSER=''
PGPASSWORD=''
PGHOST=''
PGDATABASE=''
PGPORT='25060'
PGSSL='require'        # Set to 'false' to disable SSL when running locally
BACKEND_URL=''

# --- External RPC / APIs ---
PEAQ_RPC_HTTP='https://peaq.betterfuturelabs.xyz'
PEAQ_WS_ENDPOINT='wss://peaq.betterfuturelabs.xyz'
COINGECKO_API_KEY=''
SUBSCAN_API_KEY=''

# Optional override for the default listener port (defaults to 3002 in code)
#PORT='3002'